
/* ### ENRON-BACKGROUND ### */

.background-arrows( @colorA:#000; @colorB:#fff ) {
	background:
		linear-gradient(45deg, @colorA 45px, transparent 45px)64px 64px,
		linear-gradient(45deg, @colorA 45px, transparent 45px,transparent 91px, @colorB 91px, @colorB 135px, transparent 135px),
		linear-gradient(-45deg, @colorA 23px, transparent 23px, transparent 68px,@colorA 68px,@colorA 113px,transparent 113px,transparent 158px,@colorA 158px);
	background-color: @colorB;
	background-size: 128px 128px;
}

.background-checkerboard( @size:10px; @colorA:#000; @colorB:#fff ) {
	background-color: @colorA;
	background-image:
		linear-gradient(45deg, @colorB 25%, transparent 25%, transparent 75%, @colorB 75%, @colorB),
		linear-gradient(45deg, @colorB 25%, transparent 25%, transparent 75%, @colorB 75%, @colorB);
	background-size: @size @size;
	background-position: 0 0, @size/2 @size/2;
}

.background-checkerboard-diagonal( @size:10px; @colorA:#000; @colorB:#fff ) {
	background-color: @colorA;
	background-image:
		linear-gradient(45deg, @colorB 25%, transparent 25%, transparent 75%, @colorB 75%, @colorB),
		linear-gradient(-45deg, @colorB 25%, transparent 25%, transparent 75%, @colorB 75%, @colorB);
	background-size: @size @size;
}

.background-dots( @size: 10px; @distance:50px; @pointColor:#fff; @colorB:#fff ) {
    background:
		radial-gradient(@pointColor @size, transparent @size),
		radial-gradient(@pointColor @size, transparent @size);
    background-size: @distance @distance, @distance @distance,100% 0px, @distance @distance, @distance @distance;
    background-position: @distance/2 @distance/2, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.background-grid( @size:10px; @color:#000; @thick:1px ) {
	background-size: @size @size;
	background-image:
		linear-gradient(to right,@color @thick, transparent @thick),
		linear-gradient(to bottom, @color @thick, transparent @thick);
}

.background-steps( @color:#fff ) {
	//background-color: #000;
	background-size: 58px 58px;
	background-position:
		0px 2px, 4px 35px, 29px 31px, 33px 6px,
		0px 36px, 4px 2px, 29px 6px, 33px 30px;
	background-image:
		linear-gradient(335deg, @color 23px, transparent 23px),
		linear-gradient(155deg, @color 23px, transparent 23px),
		linear-gradient(335deg, @color 23px, transparent 23px),
		linear-gradient(155deg, @color 23px, transparent 23px),
		linear-gradient(335deg, @color 10px, transparent 10px),
		linear-gradient(155deg, @color 10px, transparent 10px),
		linear-gradient(335deg, @color 10px, transparent 10px),
		linear-gradient(155deg, @color 10px, transparent 10px);
}

.background-triangles( @size:24px; @colorA:#fff; @colorB:#000 ) {
	background: @colorA;
	background:
		linear-gradient(115deg, transparent 75%, @colorB 75%) 0 0,
		linear-gradient(245deg, transparent 75%, @colorB 75%) 0 0,
		linear-gradient(115deg, transparent 75%, @colorB 75%) @size/4 -@size/2,
		linear-gradient(245deg, transparent 75%, @colorB 75%) @size/4 -@size/2,
		@colorA;
	background-size: @size/2 @size;
}

.background-weave( @color:#000; @backgroundColor:#fff ) {
	background:
		linear-gradient(135deg, @backgroundColor 21px, @color 22px, @color 24px, transparent 24px, transparent 67px, @color 67px, @color 69px, transparent 69px),
		linear-gradient(225deg, @backgroundColor 21px, @color 22px, @color 24px, transparent 24px, transparent 67px, @color 67px, @color 69px, transparent 69px)0 64px;
	background-color:@backgroundColor;
	background-size: 64px 128px;
}

.background-zigzag( @size:40px; @colorA:#fff; @colorB:none ) {
	background:
		linear-gradient( 135deg, @colorA 25%, transparent 25% ) -@size/2 0,
		linear-gradient( 225deg, @colorA 25%, transparent 25% ) -@size/2 0,
		linear-gradient( 315deg, @colorA 25%, transparent 25% ),
		linear-gradient( 45deg, @colorA 25%, transparent 25% );
	background-size: @size @size;
	background-color: @colorB;
}
