
/* ### ENRON-ICON ### */

//@font-family-icon: 'fa';

.icon( @font-family; @size:1em; @line-height:1 ) {
	//font-family: @font-family-icon !important;
	font-family: @font-family !important;
	//font-size: @size;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	letter-spacing: normal;
	//line-height: @line-height;
	text-transform: none;
	speak: none;
	direction: ltr;
	//word-wrap: normal;
	//white-space: nowrap;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
