
/* ### ENRON-SELECTION ### */

.selection( @color ) {
	::selection {
		color: @color;
	}
}
.selection( @color; @background ) {
	::selection {
		color: @color !important;
		background: @background !important;
	}
}
